
.main_container {
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 60px rgb(250, 0, 0);
    margin-bottom: 10px;
    z-index: 10;

}
/* .crypto_heading{
    justify-content: center;
    align-self: center;
} */
.container1 {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: rgb(21, 156, 39);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 60px rgb(215, 15, 155);
    margin-bottom: 10px;
}
 /* servers id selector */
#crypto-price1, #crypto-price2, #crypto-price3,#marketcap-price {
    color: #f0dbdb;
}
